.act_ar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.act_ar .form-submit {
  display: flex;
  height: fit-content;
  position: relative;
  top: 30px;
}

@media only screen and (max-width: 600px) {
  .act_ar .form-submit {
    top: 0;
  }
}
.button-refresh-in {
  margin-left: 5px;
}
.button-refresh-in input {
  background-image: url(../images/refresh-icon.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  line-height: initial !important;
  background-blend-mode: color-burn;
  text-indent: -9999px;
}
.button-refresh-in input:hover,
.button-refresh-in input:focus,
.button-refresh-in input:active {
  background-image: url(../images/refresh-icon.png);
  line-height: initial !important;
  background-blend-mode: color-burn;
}
